<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
  <body>
    <h1 th:text="Registrarse">form</h1>
    <form action="#"  th:action="@{/registration}"  th:object="${usuari}" method="POST" >
      <div>
        <label th:text="Name">first</label>
        <label>
          <input type="text" th:field="*{username}"/>
        </label>
        <p th:each="error: ${#fields.errors('username')}"
           th:text="${error}">Validation error</p>
      </div>
      <div>
        <label th:text="Password">password</label>
        <label>
          <input type="password" th:field="*{password}"/>
        </label>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
      </div>
      <div>
        <label th:text="ConfirmationPassword">confirm</label>
        <label>
          <input type="password" th:field="*{matchingPassword}"/>
        </label>
      </div>
      <button type="submit" th:text="Submit">submit</button>
    </form>
    <form th:action="@{/registration}" method="get">
      <input type="submit" value="Register"/>
    </form>
  </body>
</html>